{{> header/header}}

<div class="body view-default">
  <div class="container">

    <!-- Mobile ad placeholder
    <div class="hideondesktop" style="text-align: center; margin: 10px 10px 0;">
      <a href="#">
        <img
          src="/ui/assets/images/placeholders/advert-4.jpg"
          style="display:inline-block;"
          />
      </a>
    </div>
    /END Mobile ad placeholder -->

    <div class="row">
      <div class="column1 widget nostyle">
          {{{widget1}}}
      </div>
      <div class="column2 widget scrolloverflow">
        <div class="scrolloverflow-inside">
          {{{widget2}}}
        </div>
      </div>
    </div>

    <div class="row secondRow">
      <div class="column1">
        <div class="row">
          {{#each widget3}}
            <div class="column50 widget">
              {{{this}}}
            </div>
          {{/each}}
        </div>

        <div class="row">
          {{#each widget4}}
            <div class="column50 widget">
              {{{this}}}
            </div>
          {{/each}}
        </div>

        <div class="row">
          <div class="widget">
            {{#each widget5}}
              {{{this}}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="column2 widget scrolloverflow">
        <div class="scrolloverflow-inside">
          {{#each sidebar}}
            {{{this}}}
          {{/each}}
        </div>
      </div>
    </div>

    {{> ads/span/slim}}

  </div>
</div>

{{> footer/footer}}