<div class="wrap-columns-outer">
  {{#with meta}}
    {{> _columns/meta}}
  {{/with}}
  <div class="wrap-columns-inner two {{#each classes}} {{this}} {{/each}}">
    <div class="column {{#if widgetWrapper}} widget {{/if}} {{#each column1.classes}} {{this}} {{/each}}">
      {{#each column1.modules}}
        <div class="component">
          {{{this}}}
        </div>
      {{/each}}
    </div>
    <div class="column {{#if widgetWrapper}} widget {{/if}} {{#each column2.classes}} {{this}} {{/each}}">
      {{#each column2.modules}}
        <div class="component">
          {{{this}}}
        </div>
      {{/each}}
    </div>
  </div>
</div>