<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{{title}} - CBOE</title>
  {{#with meta}}
    {{#with keywords}}<meta name="keywords" content="{{this}}" >{{/with}}
    {{#with description}}<meta name="description" content="{{this}}" >{{/with}}
  {{/with}}

  <!-- Responsive -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <!-- IE/Chrome Compat -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  {{{renderStyles 'css'}}}

  <!--
    Switch debug mode for additional logging -->
  <script>
    window.debug = {{isProd}};
  </script>

  <!--
    Pre-DOM SHIMS
    These fix issues in legacy browsers where certain
    features are not supported.
  -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <!--
    Add data attribute for UserAgent to Document -->
  <script type="text/javascript">
    document.documentElement.setAttribute('data-useragent', navigator.userAgent);
  </script>

</head>
<body>

  {{{body}}}

  {{{renderScripts 'libs'}}}
  {{{renderScripts 'initCoffee'}}}


  <!--
    Post-DOM SHIMS
    These fix issues in legacy browsers where certain
    features are not supported.
  -->
  <!--[if lt IE 10]>
  <script src="/ui/classes/shims/ie-lt10.js" type="text/javascript"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="/ui/classes/shims/ie-lt9.js" type="text/javascript"></script>
  <![endif]-->

</body>
</html>
