<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{title}} - CBOE</title>
  {{#meta}}
    {{#keywords}}<meta name="keywords" content="{{this}}" >{{/keywords}}
    {{#description}}<meta name="description" content="{{this}}" >{{/description}}
  {{/meta}}

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
  {{{renderStyles 'css'}}}

</head>
<body>

  {{{body}}}

  <!-- START - Load Qunit tests when required -->
  <script>
  (function () {
    var url = window.location.href,
        test = (url.indexOf('#test=on') !== -1) ? true : false;

    if (test) {
      document.write('<script src="http://code.jquery.com/qunit/qunit-1.12.0.js"\></script\>');
      document.write('<link href="http://code.jquery.com/qunit/qunit-1.12.0.css" media="all" rel="stylesheet" type="text/css"\>');
    }
  }).call(this);
  </script>
  <!-- END - Qunit -->

  <script src="/ui/libs/requirejs/require.js"></script>
  <script src="/ui/libs/jquery/jquery.js"></script>
  <script src="/ui/libs/handlebars/handlebars.js-1.1.2/handlebars.js"></script>
  {{{renderScripts 'initCoffee'}}}
</body>
</html>
