{{> header/header}}

<div class="body view-threecol">
  <div class="container">

    <div class="topspan">
      {{#each topspan}}
        {{{this}}}
      {{/each}}
    </div>

    <div class="main">

      <div class="col1">
        {{#each col1}}
          {{{this}}}
        {{/each}}
      </div>

      <div class="col2">
        {{#each col2}}
          {{#each this}}

            <div class="{{@key}}">
              {{#each this}}
                <div class="column">
                  {{{this}}}
                </div>
              {{/each}}
            </div>

          {{else}}
            {{{this}}}
          {{/each}}
        {{/each}}
      </div>

      <div class="col3">
        {{#each col3}}
          {{{this}}}
        {{/each}}
      </div>

    </div>

    {{> ads/span/slim}}

  </div>
</div>

{{> footer/footer}}