<div class="hideonmobile">
  {{> ads/span/slim-dark}}
</div>

{{> header/header}}

<div class="body view-twocolB {{#each viewClasses}} {{this}} {{/each}}">
  <div class="container">

    <section class="topspan">
      {{#each topspan}}
        {{{this}}}
      {{/each}}
    </section>

    <section class="main">

      {{#if beforeRow}}
        <div class="beforeRow">
          {{#each beforeRow}}
            {{{this}}}
          {{/each}}
        </div>
      {{/if}}

      <div class="two-col-body">

        {{#if flipColumns}}

          {{#if col2}}
            <div class="col2">
              {{#each col2}}
                {{{this}}}
              {{/each}}
            </div>
          {{/if}}

          {{#if col1}}
            <div class="col1">
              {{#each col1}}
                {{{this}}}
              {{/each}}
            </div>
          {{/if}}

        {{else}}

          {{#if col1}}
            <div class="col1">
              {{#each col1}}
                {{{this}}}
              {{/each}}
            </div>
          {{/if}}

          {{#if col2}}
            <div class="col2">
              {{#each col2}}
                {{{this}}}
              {{/each}}
            </div>
          {{/if}}

        {{/if}}

      </div>

      {{#if afterRow}}
        <div class="afterRow">
          {{#each afterRow}}
            {{{this}}}
          {{/each}}
        </div>
      {{/if}}

    </section>

    {{#if bottomspan}}
      <section class="bottomspan">
        {{#each bottomspan}}
          {{{this}}}
        {{/each}}
      </section>
    {{/if}}

  </div>
</div>

{{> footer/footer}}