<div class="widget-hero hero {{#each slim}} {{this}} {{/each}}">
  <img
    src="/ui/assets/images/placeholders/blank.gif"
    data-echo="{{background}}"
    alt=""
    class="background">

  <noscript>
    <img
      src="{{background}}"
      alt=""
      class="background">
  </noscript>

  <div class="slides">
    {{#each slides}}
    <div class="slide" data-slideid="{{@index}}">
      <h5>
        {{title}}
      </h5>
      <h2>
        {{text}}
      </h2>

      {{#if link}}
      <a href="{{link.url}}" title="{{link.text}}" class="link">
        {{link.text}}
      </a>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>