
<div class="widget-tv row"
  data-subscribe="{{subscribe}}"
  {{#if activeStates}}data-activestates="true"{{/if}}>
  <div class="title">
    {{#if title}}
    <h2>
      {{{title}}}

      {{#if total}}
        <span>
          ({{{total}}})
        </span>
      {{/if}}
    </h2>
    {{/if}}

    {{#if viewall}}
    <a href="{{viewall.href}}" class="viewall">
      <!--{{{viewall.text}}}-->
      Expand
    </a>
    {{/if}}
  </div>

  <div class="items">
    {{#each items}}
    <div class="item">
      <a href="{{this.url}}">
        <div class="image">
          <img
            src="/ui/assets/images/placeholders/blank.gif"
            data-echo="{{this.thumbnail.src}}"
            alt="{{#if thumbnail.alt}}{{thumbnail.alt}}{{else}}{{this.title}}{{/if}}"
          >
        </div>

        {{#if this.meta}}
        <div class="meta">
          {{#if this.meta.views}}
            <span class="icon-meta views">
              {{this.meta.views}}
            </span>
          {{/if}}
          {{#if this.meta.likes}}
            <span class="icon-meta likes">
              {{this.meta.likes}}
            </span>
          {{/if}}
        </div>
        {{/if}}

        <h3>
          {{{this.title}}}
        </h3>

        {{#if this.description}}
        <p>
          {{{this.description}}}
        </p>
        {{/if}}
      </a>
    </div>
    {{/each}}

    <div class="showWithAll">
      {{> widgets/pagination/pagination}}
    </div>
  </div>
</div>