<div class="ticker-item">
  <span class="symbol">
    {{symbol}}
  </span>
  <span class="volume">
    {{volume}}
  </span>
  <span class="price">
    {{price}}
  </span>
  <span class="change" data-numericcolor="{{change}}">
    {{change}}
  </span>
</div>