<ul class="breadcrumbs">
  <li>
    <a href="/">
      CBOE
    </a>
  </li>
  {{#each levels}}
    <li class="parent">
      <a href="{{this.link.url}}" title="{{this.link.text}}">
        {{this.link.text}}
      </a>

      {{#if children}}
      <ul>
        <li>
          <a href="{{this.link.url}}" title="{{this.link.text}} landing page">
            {{this.link.text}} landing page
          </a>
        </li>

        {{#each children}}
        <li>
          <a href="{{this.link.url}}" title="{{this.link.text}}">
            {{this.link.text}}
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}

    </li>
  {{/each}}
</ul>