<div class="quote-summary">

  {{#each this}}
    <div class="col">
      {{#each this}}
        <span class="key">
          {{@key}}
        </span>
        <span class="value" {{#if numericcolor}} data-numericcolor="{{value}}" {{/if}}>
          {{#if prefix}}
            <sup class="prefix">{{prefix}}</sup>
          {{/if}}
          {{value}}

          {{#if parens}}
          (
          <sup class="prefix">{{parens.prefix}}</sup>
          {{parens.value}}
          <sup class="postfix">{{parens.postfix}}</sup>
          )
          {{/if}}

          {{#if postfix}}
            <sup class="postfix">{{postfix}}</sup>
          {{/if}}
        </span>
      {{/each}}
    </div>
  {{/each}}

</div>