{{#if title}}
  <div class="table-title">
    <h2 class="title">
      {{title.text}}
    </h2>

    {{#if title.right}}
      <span class="right">
        {{title.right}}
      </span>
    {{/if}}
    {{#if title.meta}}
      <div class="wrap-meta">
        {{#each title.meta.items}}
          <div class="wrap-meta-item{{#this.class}} {{this}}{{/this.class}}">
            {{#each this.content}}
            <span class="item">
            {{#if this.label}}<strong>{{this.label}}</strong>{{/if}}
            {{this.text}}
            </span>

            {{else}}
            {{this.content}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/if}}

<div class="table-wrapper">
  <table class="table {{#each classes}} {{this}} {{/each}}">

    {{#if columns}}
      <colgroup>
        {{#each columns}}
        <col class="{{#if mobileonly}} onlymobile {{/if}} {{#unless mobile}} nomobile {{/unless}}" />
        {{/each}}
      </colgroup>
    {{/if}}

    {{#if columns}}
      <thead>
        <tr>
          {{#each columns}}
          <th class="{{#unless mobile}} nomobile {{/unless}}" data-id="{{@index}}" data-mobile="{{mobile}}">
            {{title}}
          </th>
          {{/each}}
        </tr>
      </thead>
    {{/if}}

    <tbody>
      {{#each rows}}
        <tr>
          {{#each this}}
            <td{{#higlighted}} data-higlighted="true"{{/higlighted}} {{#classes}}class="{{this}}"{{/classes}}>
              {{#if this.link}}
              <a
                href="{{this.link.url}}"
                title="{{#if this.link.title}}{{this.link.title}}{{/if}}"
                {{#if this.numericcolor}} data-numericcolor="{{this.content}}" {{/if}}>
              {{else}}
              <span
                {{#if this.numericcolor}} data-numericcolor="{{this.content}}" {{/if}}>
              {{/if}}

                {{this.prefix}}{{this.content}}{{this.postfix}}

              {{#if this.link}}
              </a>
              {{else}}
              </span>
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>