<div class="snapshot wide">

  <div class="widget-title title">
    <h2>{{title.title}}</h2>

    {{#if title.advanced}}
      <a href="{{title.advanced.url}}" class="advanced">
        {{title.advanced.text}}
      </a>
    {{/if}}

    {{#if meta}}
    <div class="meta">
      <span>
        {{meta.volume}}
      </span>

      <div class="data">
        <span data-numericColor="{{meta.change}}">
          {{meta.change}}
        </span>
        <span data-numericcolor="{{meta.changepct}}">
          {{meta.changepct}}%
        </span>
      </div>
    </div>
    {{/if}}
  </div>

  <div class="loading">
    Loading...
  </div>

  <div class="graph text-center">
    <div class="image">
      <img
        src="/ui/assets/images/placeholders/blank.gif"
        data-echo="/ui/assets/images/placeholders/graph-hp-tb.jpg"
        alt=""
        class="larger">
      <noscript>
        <img src="/ui/assets/images/placeholders/graph-hp-tb.jpg"
        class="larger">
      </noscript>

      <img
        src="/ui/assets/images/placeholders/blank.gif"
        data-echo="/ui/assets/images/placeholders/graph-hp-dt.jpg"
        alt=""
        class="smaller">
      <noscript>
        <img src="/ui/assets/images/placeholders/graph-hp-dt.jpg"
        class="smaller">
      </noscript>
    </div>
  </div>

</div>