
<div class="widget-tv player">
  <div class="title">
    <div class="right">
      <div class="icons">
        {{>widgets/sharing/icons}}
      </div>

      {{#if subscribe}}
        <a href="{{subscribe.href}}" class="subscribe button green">
          {{{subscribe.text}}}
        </a>
      {{/if}}
    </div>

    {{#if title}}
      <h2>
        {{{title}}}

        <a href="{{disclaimer.href}}" class="disclaimer">
          ({{{disclaimer.text}}})
        </a>
      </h2>
    {{/if}}
  </div>

  <div class="prow">
    <div class="player">
      <img
        src="/ui/assets/images/placeholders/blank.gif"
        data-echo="/ui/assets/images/videos/player.jpg"
        alt="{{video.title}}"
      >
      <noscript>
        <img src="/ui/assets/images/videos/player.jpg">
      </noscript>
    </div>

    <div class="meta">
      {{#with next}}
        <h3 class="next">
          <a href="#" title="{{title}}" class="icon-css-arrows right">
            Up next
          </a>
        </h3>
      {{/with}}

      <h3 class="nowplaying icon-css-arrows left">
        Now Playing
      </h3>

      <h2>
        {{{video.title}}}
      </h2>

      <h3 class="category">
        Category: {{video.category}}
      </h3>

      <p>
        {{{video.description}}}
      </p>

      <div class="hideonmobile">
        {{> ads/square_300/block}}
      </div>

    </div>

  </div>

</div>