<div class="filter">
  {{#if title}}
  <strong>{{title}}</strong>
  {{/if}}

  <ul>

    {{#if parent}}
    <li class="parent">
      {{{parent.title}}}

      {{#if parent.total}}
      <span class="total">
        {{{parent.total}}}
      </span>
      {{/if}}
    </li>
    {{/if}}

    {{#each filters}}
    <li>
      {{#if this.items}}
      <a class="toplevel" unselectable="on">
        {{{this.title}}}

        {{#if this.total}}
        <span class="total">
          {{{this.total}}}
        </span>
        {{/if}}
      </a>
      {{else}}
      {{{this.title}}}
      {{/if}}

      {{#if this.items}}
      <ul>

        {{#each this.items}}
        <li>

          {{#if this.type}}

          <label>
            <input
              type="{{this.type}}"
              name="{{this.name}}"
              id="filter-{{this.name}}">

              <span>{{{this.title}}}</span>
          </label>

          {{else}}

          <a href="{{this.url}}">
            {{{this.title}}}

            {{#if this.total}}
            <span class="total">
              {{{this.total}}}
            </span>
            {{/if}}
          </a>

          {{/if}}

        </li>
        {{/each}}

      </ul>
      {{/if}}
    </li>
    {{/each}}

  </ul>
</div>