<div class="filter">
  {{#if title}}
  <strong>{{title}}</strong>
  {{/if}}

  <ul>

    {{#if parent}}
    <li class="parent">
      {{{parent.title}}}

      {{#if parent.total}}
      <span class="total">
        {{{parent.total}}}
      </span>
      {{/if}}
    </li>
    {{/if}}

    {{#each filters}}
      <li class="{{#unless title}}expanded{{/unless}}">
        {{#if title}}
          {{#if items}}
            <a class="toplevel" unselectable="on">
              {{{title}}}

              {{#if total}}
              <span class="total">
                {{{total}}}
              </span>
              {{/if}}
            </a>
          {{else}}
            <span class="filter" {{#if publish}}data-publish="{{publish}}"{{/if}}>
              {{{title}}}

              {{#if total}}
                <span class="total">
                  {{{total}}}
                </span>
              {{/if}}
            </span>
          {{/if}}
        {{/if}}

        {{#if items}}
          <ul>
            {{#if viewall}}
              <li class="viewall">
                <a href="#" data-publish="{{viewall.publish}}">
                  {{#if viewall.text}}
                    {{viewall.text}}
                  {{else}}
                    View All
                  {{/if}}

                  {{#if total}}
                    <span class="total">
                      {{{total}}}
                    </span>
                  {{/if}}
                </a>
              </li>
            {{/if}}

            {{#each items}}
              <li>

                {{#if type}}

                  <label>
                    <input
                      type="{{type}}"
                      name="{{name}}"
                      id="filter-{{name}}">

                      <span>{{{title}}}</span>
                  </label>

                {{else}}

                  <a href="{{url}}" {{#if publish}}data-publish="{{publish}}"{{/if}}>
                    {{{title}}}

                    {{#if total}}
                    <span class="total">
                      {{{total}}}
                    </span>
                    {{/if}}
                  </a>

                {{/if}}

              </li>
            {{/each}}

          </ul>
        {{/if}}
      </li>
    {{/each}}

  </ul>
</div>