<div class="pagination">

  <ul class="pagination">
    <li class="prev">
      <a href="#" class="icon-css-arrows left">
        prev
      </a>
    </li>

    <li class="pages">
      <ul>
        {{#each pages}}
          <li>
            <a href="{{this.url}}" title="{{this.text}}" {{#if this.active}} class="active" {{/if}}>
              {{this.text}}
            </a>
          </li>
        {{else}}
          <li>
            <a href="#">
              1
            </a>
          </li>
          <li>
            <a href="#">
              2
            </a>
          </li>
          <li>
            <a href="#" class="active">
              3
            </a>
          </li>
          <li>
            <a href="#">
              4
            </a>
          </li>
          <li>
            <a href="#">
              5
            </a>
          </li>
          <li>
            ...
          </li>
          <li>
            <a href="#">
              15
            </a>
          </li>
        {{/each}}
      </ul>
    </li>

    <li class="next">
      <a href="#" class="icon-css-arrows right">
        next
      </a>
    </li>
  </ul>

  {{#if total}}
    <span class="total">
      ({{total}} results)
    </span>
  {{/if}}

</div>