{{#if widget.title}}
  <h3 class="widget-title {{#each widget.classes}} {{this}} {{/each}}">
    {{widget.title}}

    {{#if widget.promo}}
    <div class="promo">
      <a
      href="{{widget.promo.url}}"
      class="{{#if widget.promo.class}}icon-logo {{widget.promo.class}}{{/if}}
      {{#each widget.promo.classes}} {{this}} {{/each}}">
      {{{widget.promo.text}}}
    </a>
    </div>
    {{/if}}
  </h3>
{{else}}
  <h3 class="widget-title {{#each classes}} {{this}} {{/each}}">
    {{title}}

    {{#if promo}}
    <div class="promo">
      <a
      href="{{promo.url}}"
      class="{{#if promo.class}}icon-logo {{promo.class}}{{/if}}
      {{#each promo.classes}} {{this}} {{/each}}">
      {{{promo.text}}}
    </a>
    </div>
    {{/if}}
  </h3>
{{/if}}